<!DOCTYPE html>

<html>

    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather!</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>

            <table>
                <tr>
                    <th>Day</th>
                    <th>Min temp</th>
                    <th>Max temp</th>
                    <th>Description</th>
                    <th>Weather Image</th>
                </tr>
                <tr>
                    <td id="day1-date"></td>
                    <td id="day1-min"></td>
                    <td id="day1-max"></td>
                    <td id="day1-description"></td>
                    <td><img id="day1-image"></td>
                </tr>
                <tr>
                    <td id="day2-date"></td>
                    <td id="day2-min"></td>
                    <td id="day2-max"></td>
                    <td id="day2-description"></td>
                    <td><img id="day2-image"></td>
                </tr>
                <tr>
                    <td id="day3-date"></td>
                    <td id="day3-min"></td>
                    <td id="day3-max"></td>
                    <td id="day3-description"></td>
                    <td><img id="day3-image"></td>
                </tr>
                <tr>
                    <td id="day4-date"></td>
                    <td id="day4-min"></td>
                    <td id="day4-max"></td>
                    <td id="day4-description"></td>
                    <td><img id="day4-image"></td>
                </tr>
                <tr>
                    <td id="day5-date"></td>
                    <td id="day5-min"></td>
                    <td id="day5-max"></td>
                    <td id="day5-description"></td>
                    <td><img id="day5-image"></td>
                </tr>
                <tr>
                    <td id="day6-date"></td>
                    <td id="day6-min"></td>
                    <td id="day6-max"></td>
                    <td id="day6-description"></td>
                    <td><img id="day6-image"></td>
                </tr>

                <tr>
                    <td id="day7-date"></td>
                    <td id="day7-min"></td>
                    <td id="day7-max"></td>
                    <td id="day7-description"></td>
                    <td><img id="day7-image"></td>
                </tr>
                <tr>
                    <td id="day8-date"></td>
                    <td id="day8-min"></td>
                    <td id="day8-max"></td>
                    <td id="day8-description"></td>
                    <td><img id="day8-image"></td>
                </tr>
            </table>
        </div>
        
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>

</html>